<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="co.aspirasoft.catalyst"
          tools:ignore="LockedOrientationActivity">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".MyApplication"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:logo="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme">

    <activity android:name=".activities.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data
            android:host="aspirasoft.page.link"
            android:scheme="https"/>
      </intent-filter>
    </activity>

    <activity android:name=".activities.SignInActivity"/>

    <activity android:name=".activities.SignUpActivity"/>

    <activity android:name=".activities.DashboardActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.ProfileActivity"
              android:label="@string/profile"
              android:parentActivityName=".activities.DashboardActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.ConnectionsActivity"
              android:label="@string/connections"
              android:parentActivityName=".activities.DashboardActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.IntroActivity"
              android:configChanges="orientation|screenSize"
              android:parentActivityName=".activities.ConnectionsActivity"/>

    <activity android:name=".activities.TeamInvitesActivity"
              android:label="@string/collaboration"
              android:parentActivityName=".activities.DashboardActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.ProjectActivity"
              android:label="@string/project_details"
              android:parentActivityName=".activities.DashboardActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.ChatroomActivity"
              android:label="@string/chatroom"
              android:parentActivityName=".activities.ProjectActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.TeamActivity"
              android:label="@string/project_team"
              android:parentActivityName=".activities.ChatroomActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.TasksActivity"
              android:label="@string/project_tasks"
              android:parentActivityName=".activities.ProjectActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.TaskActivity"
              android:label="@string/task_details"
              android:parentActivityName=".activities.ProjectActivity"
              android:configChanges="orientation|screenSize"/>

    <activity android:name=".activities.EditorActivity"
              android:configChanges="orientation|screenSize"
              android:parentActivityName=".activities.ProjectActivity"
              android:windowSoftInputMode="adjustResize"/>

    <activity android:name=".activities.DrawingActivity"
              android:configChanges="orientation|screenSize"
              android:parentActivityName=".activities.EditorActivity"/>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="co.aspirasoft.catalyst.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"/>
    </provider>

  </application>

</manifest>